<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="https://pbs.twimg.com/media/EdjpqvJXoAEY9Pp?format=webp&name=tiny">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet">

</head>
<body>
      <!--JUMBO INFO-->
      <div class="jumbotron">
        <h1 class="display-4">PS Passport</h1>
        <p class="lead">Discover all the countries you've visited playing PlayStation™4 games</p>
        <hr class="my-4">
        <p>To Begin:</p>
        <ul><p><b>1)</b> Type in your PSN on <a href="https://psnprofiles.com/">PSN Profiles</a> and click <b>"update user"</b></p></ul>
        <ul><p><b>2)</b> Return here, and type in your PSN username</p></ul>
        <small>This site is not affiliated with psnprofiles. By entering your username into psnprofiles.com you agree to their terms and conditions.</small>
      </div>
      <!--JUMBO INFO-->

      <div class="container">
      <form method="POST">
        <div class="form-group">
          <label for="exampleInputEmail1">Username</label>
          <input type="text" class="form-control" name="text" aria-describedby="emailHelp" placeholder="Enter PSN Username">
          <small id="emailHelp" class="form-text text-muted">None of the data inputed into <b>this</b> site is shared, stored or anything similar</small>
        </div>
        <p></p>
        <input type="submit" class="btn btn-dark">
      </form>
 <script data-ad-client="ca-pub-5493002939895576" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

</body>
<div style="position: center; bottom: 5px;">
<hr class="featurette-divider">
<footer class="container">
    <p class="float-right"><a href="#">Back to top</a></p>
    <p>&copy; 2020 Deve Tambat <a href="https://twitter.com/iotambat">My Twitter</a> &middot; <a href="https://ko-fi.com/iotambat">Donate</a></p>
  </footer>
</div>

</html>